/* ---------- Color Module Styles ----------- */

body{
  color: #8C6239;
  background-color: #BFD4D5;
}

.main-container{
  width:850px;
  margin:auto;
  text-align: center;
}

body{
min-width:800px;
margin-left:auto;
margin-right:auto;
background-color:#bfd4d5;
}

.showcase img{
  width:735px;
  border:2px solid gray;
  margin-top:15px;
}

#contentWrapper{
margin:auto;
height:390px;
width:100%;
background-color:#bfd4d5;
}

.aboutWrapper{
  height:1200px !important;
  width:750px !important;
  text-align: left;
  font-size: 1em;
  line-height: 1.4;
}

.aboutWrapper ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

#homePic{
	margin:auto;
	width:690px;
}
#homePic img{
	border:3px solid gray;
	position:relative;
	top:5px;
	width:100%;
}

#rightContent{
height:100%;
width:290px;
margin:auto;
background-size:100%;
}
#rightContent img{
height:100%;
position:relative;
top:5px;
border:3px solid gray;
}

#textArea{
height:100%;
width:400px;
float:right;
margin:auto;
padding-top:10px;
background-color:#bfd4d5;
overflow:hidden;
color:#8c6239;
}
#textArea h3{
width:350px;
}

#contactPic{
float:right;
width:400px;
}
#contactPic img{
width:450px;
position:relative;
top:15px;
right:50px;
border:3px solid gray;
}

#bioPic{
float:left;
width:300px;
}
#bioPic img{
width:100%;
margin-top:30px;
border:3px solid gray;
}

.pressArticle{
	width:900px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:80px;
	color:#8c6239;
	text-indent:30px;
}

#tft{
	float:left;
	margin-top:20px;
	margin-right:15px;
	border:2px solid gray;
}

#njLogo{
	float:left;
	border:2px solid gray;
	margin-top:20px;
	margin-right:15px;
}

#pjLogo{
	float:left;
	border:2px solid gray;
	margin-top: 20px;
	margin-right: 15px;
}

.pressLink{
	float:right;
}

.pressLink img{
	width:20px;
	margin-left:5px;
	position:relative;
	top:3px;
}

.pressLink a{
	font-weight:bold;
	text-decoration:none;
}

.pressArticle p{
	margin:auto;
}

#shsLogo{
	text-align:center;
	border:2px solid gray;
	background-color:white;
	width:277px;
	font-family:'Nunito',arial,serif;text-transform:uppercase;font-weight:bold;
	color:#3953A2;
	padding-top:15px;
	padding-bottom:15px;
	margin-right:15px;
	float:left;
	text-indent:0px;
}

#shsLogo:hover{
	cursor: pointer;
}

#pinCover{
	width:200px;
	height:200px;
	border-radius:100px;
	position:absolute;
	left:575px;
	z-index:10;
	visibility: hidden;
}

#pinCover:hover{
	background: rgba(0,0,0,0.8);
	cursor: pointer;
}

#pinterest img{
	margin:auto;
	display:block;
	width:200px;
}

.articlePhoto{
	float:left;
	height:140px;
	border:2px solid gray;
	margin-right:20px;
	margin-top:20px;
	position:relative;
}

.shsPhoto{
	float:left;
	height:140px;
	border:2px solid gray;
	margin-right:5px;
	margin-top:20px;
	position:relative;
}

.articlePhotos{
	width:100%;
}
