body{
  color: #8C6239;
  background-color: #BFD4D5;
}

.main-container{
  width:850px;
  margin:auto;
  text-align: center;
}

body{
min-width:800px;
margin-left:auto;
margin-right:auto;
background-color:#bfd4d5;
}

.showcase img{
  width:735px;
  border:2px solid gray;
  margin-top:15px;
}

.aboutWrapper{
  width:750px;
  margin-top: 20px;
  display: flex;
  gap: 40px;
}

#textArea{
  text-align: left;
  font-size: 1em;
  line-height: 1.4;
}

#textArea p{
  text-indent: 30px;
}
#textArea img{
  margin-top:30px;
}

.aboutWrapper ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

#homePic{
	margin:auto;
	width:690px;
}
#homePic img{
	border:3px solid gray;
	position:relative;
	top:5px;
	width:100%;
}

#rightContent{
height:100%;
width:290px;
margin:auto;
background-size:100%;
}
#rightContent img{
height:100%;
position:relative;
top:5px;
border:3px solid gray;
}

#textArea{
padding-top:10px;
color:#8c6239;
}

#bioPic img{
width:300px;
margin-top:30px;
border:3px solid gray;
}

main{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.pressArticle{
	display: flex;
	color:#8c6239;
  width: 900px;
  margin-top: 40px;
  line-height: 1.4;
}

.pressArticle div{
  flex-grow: 1;
}

.pressArticle p{
  flex-grow: 6;
  text-align: left;
  margin-left: 20px;
  text-indent: 40px;
}

.pressLink{
  text-align: right;
}

.articlePhotos{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.articlePhotos img{
  width:125px;
  height:125px;
}

#traditionalHomeImg{
  width:200px;
  margin-top:25px;
}

#pjLogo, #tft, #njLogo{
  margin-top:22px;
}

#shsLogo{
  text-align: center;
  border: 2px solid gray;
  background-color: white;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #3953A2;
  padding: 15px 50px;
  font-size: 30px;
}

.contact-container{
  display:flex;
  flex-direction: row;
  gap: 100px;
  margin: 70px 0 30px 0;
}

#contactPic img{
  width:450px;
  border: 3px solid gray;
}
